conda==4.6.* 
conda-build==3.17.* 
ggplot==0.11.* 
glob2==0.*
gmpy2==2.0.* 
imagesize==1.1.* 
ipykernel==5.1.*
ipython==7.2.*
ipython-genutils==0.2.*
ipywidgets==7.4.*
jupyter==1.0.*
jupyter-client==5.2.* 
jupyter-console==6.0.*  
jupyter-core==4.4.*
jupyterlab==0.35.* 
jupyterlab-launcher==0.13.*
jupyterlab-server==0.2.*
libarchive-c==2.*
navigator-updater==0.2.*
nbconvert==5.4.* 
notebook==5.7.* 
notedown==1.5.*  
numpydoc==0.8.*  
pandoc-attributes==0.1.* 
pandocfilters==1.4.*
pivottablejs==0.9.*
plotly==3.7.* 
ply==3.*
py==1.7.*
pytest==4.0.*  
pytest-openfiles==0.3.*
pytest-remotedata==0.3.*  
python-dateutil==2.7.*
rpy2==3.0.*
tzlocal==1.5.*
seaborn==0.9.* 
numpy==1.16.*
matplotlib==3.*
seaborn==0.9.*
pandas==0.24.* 
cufflinks==0.*
